<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Интернет-магазин корзина клиента</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" th:href="@{/css/style.css}"/>
    <link rel="shortcut icon" type="image/png" th:href="@{/img/logo.png}" />
</head>

<body>
<div class="constructor">
    <div class="top">
<div th:replace="~{navigation :: navi(Home)}"/>
<div th:if="${shoppingCart.isEmpty}" >
    <div class="container"><h2 class="heading text_bg text_optical">Корзина пуста</h2></div>
    <hr class="line">
    <div class="container"><p class="text_optical text_sm">Необходимо добавить товары.&nbsp;
        <a href="/shop" class="text_optical text_sm text_price">Перейти в коталог</a></p></div>
</div>
<div th:if="${!shoppingCart.isEmpty}">
    <div class="container"><h2 class="heading text_bg text_optical">Корзина</h2></div>
    <hr class="line">
    <div class="container">
        <div class="cart-panel custom_panel" style="border-radius: 10px; padding: 5px">
            <div class="text_md text_dark">
                Товаров:&nbsp;<span class="text_md text_price" th:text="${shoppingCart.quantity}"></span>
                <span class="text_md text_price">&nbsp;шт.</span>
            </div>
            <div class="text_md text_dark">
                Общая сумма:&nbsp;<span class="text_md text_price" th:text="${shoppingCart.totalPrice}"></span>
                <span class="text_md text_price">&nbsp;&#8381;</span>
            </div>
            <a class="btn_dark" sec:authorize="isAuthenticated()" th:href="@{/order}">Оформить заказ</a>
        </div>
        <div class="custom_panel">
            <table class="table text_dark">
                <thead class="text_price">
                    <th>Категория</th>
                    <th>Наименование товара</th>
                    <th>Цена за шт.</th>
                    <th>Общая цена</th>
                    <th>Количество</th>
                </thead>
                <tr th:each="item : ${shoppingCart.getOrderItems}">
                    <td th:text="${item.product.category.title}"/>
                    <td>
                        <span style="font-weight: bold;" th:text="${item.product.title}"></span>
                    </td>
                    <td th:text="${item.itemPrice}"/>
                    <td th:text="${item.totalPrice}"/>
                    <td>
                        <span th:text="${item.quantity}"></span>
                        <div style="display: flex; float: right;">
                        <a th:if="${item.quantity > 1}" class="btn_dark btn_mini"
                                th:href="@{'/cart/remove/' + ${item.product.id}}">-</a>
                        <a class="btn_dark btn_mini" th:href="@{'/cart/add/' + ${item.product.id}}">+</a>
                        <a class="btn_dark btn_mini" th:href="@{'/cart/removeItem/' + ${item.product.id}}">x</a>
                        </div>
                    <td/>
                </tr>
            </table>
            <a class="btn_dark" th:href="@{'/cart/clear'}">Очистить корзину</a>
        </div>
    </div>
</div>
    </div>
    <div th:replace="~{footer :: footer()}"/>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ" crossorigin="anonymous"></script>
</body>
</html>