<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Интернет-магазин информация о пользователе</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" th:href="@{/css/style.css}"/>
    <link rel="shortcut icon" type="image/png" th:href="@{/img/logo.png}" />
</head>
<body>
<div class="constructor">
    <div class="top">
        <div th:replace="~{navigation :: navi(Profile)}"/>

        <div class="container">
            <br>
            <h1>Информация о пользователе</h1>
            <hr>

            <a>ФИО: </a>
            <a th:utext=""></a>
            <hr>

            <a>Email : </a>
            <a th:utext="${user.email}"></a>
            <hr>

            <a>Номер телефона: </a>
            <a th:utext="${user.phone}"></a>
            <hr>

            <a sec:authorize="hasRole('ADMIN')" th:each="role : ${user.roles}">
                <a th:utext="${role.name}"></a>
                <br>
            </a>
            <hr>

        </div>
    </div>
    <div th:replace="~{footer :: footer()}"/>
</div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ" crossorigin="anonymous"></script>
</body>
</html>